[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/vim-fugitive/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/pack/nerdtree/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/pack/nerdcommenter/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/desert256.vim"]
	path = vim/pack/desert256.vim/start/desert256.vim
	url = https://github.com/vim-scripts/desert256.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/pack/syntastic/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/bufexplorer.zip"]
	path = vim/pack/bufexplorer.zip/start/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip
[submodule "vim/bundle/DetectIndent"]
	path = vim/bundle/DetectIndent
	url = https://github.com/vim-scripts/DetectIndent
[submodule "vim/bundle/detectindent"]
	path = vim/pack/detectindent/start/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "vim/bundle/delmitmate"]
	path = vim/pack/delmitmate/start/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/closetag"]
	path = vim/pack/closetag/start/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/pack/tagbar/start/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-latex"]
	path = vim/pack/vim-latex/start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "vim/bundle/glsl.vim"]
	path = vim/pack/glsl.vim/start/glsl.vim
	url = https://github.com/vim-scripts/glsl.vim.git
[submodule "vim/bundle/gnupg"]
	path = vim/pack/gnupg/start/gnupg
	url = https://github.com/vim-scripts/gnupg.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/pack/vim-javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/ctrlp"]
	path = vim/pack/ctrlp/start/ctrlp
	url = https://github.com/vim-scripts/ctrlp.vim.git
[submodule "vim/bundle/gist-vim"]
	path = vim/pack/gist-vim/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/pack/webapi-vim/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/figlet"]
	path = vim/pack/figlet/start/figlet
	url = https://github.com/vim-scripts/Figlet.vim.git
[submodule "vim/bundle/vim-yaml-indent"]
	path = vim/pack/vim-yaml-indent/start/vim-yaml-indent
	url = git@github.com:jbryan/vim-yaml.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/pack/mustache.vim/start/mustache.vim
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/opencl.vim"]
	path = vim/bundle/opencl.vim
	url = git@github.com:jbryan/opencl.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/pack/vim-surround/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-airline"]
	path = vim/pack/vim-airline/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/Dockerfile"]
	path = vim/pack/Dockerfile/start/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/pack/jedi-vim/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/pack/neocomplete.vim/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundle/ultisnips.vim"]
	path = vim/pack/ultisnips.vim/start/ultisnips.vim
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-snippets.vim"]
	path = vim/pack/vim-snippets.vim/start/vim-snippets.vim
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/ag.vim"]
	path = vim/pack/ag.vim/start/ag
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/vim-python-pep8-indent.git"]
	path = vim/pack/vim-python-pep8-indent.git/start/vim-python-pep8-indent.git
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/pack/vim-terraform/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/bundle/vim-fubitive"]
	path = vim/pack/vim-fubitive/start/vim-fubitive
	url = https://github.com/tommcdo/vim-fubitive.git
[submodule "vim/bundle/vim-minizinc"]
	path = vim/pack/vim-minizinc/start/vim-minizinc
	url = https://github.com/vale1410/vim-minizinc.git
[submodule "vim/bundle/vim-fahrenheit"]
	path = vim/pack/fahrenheit/start/fahrenheit
	url = https://github.com/fcpg/vim-fahrenheit
[submodule "vim/bundle/vim-jellyx"]
	path = vim/pack/vim-jellyx/start/vim-jellyx
	url = https://github.com/guns/jellyx.vim.git
[submodule "vim/pack/clang_complete/start/clang_complete"]
	path = vim/pack/clang_complete/start/clang_complete
	url = https://github.com/rip-rip/clang_complete
